.layout{
    display: flex;
    flex-direction: row;
    width: 100vw;
    background: #f0f0f0;
}

.webmap {
    height: 400px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-col{
    width: 280px;
}

.content-col{
    height: 200vh;
    width: calc(100vw - 316px);
    margin-top: 16px;
}

.content-cont{
    width: 100%;
    padding: 8px 16px;
    background: white;
}

.big-title{
    font-family: 'Inter';
    margin: 0;
    font-size: 20px;
}

.right-menu{
    margin-top: 16px;
    margin: 8px;
    /* border: 1px solid #e9e9e9;
    box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.048); */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 8px;
    position: sticky;
}

.right-btn{
    height: 30px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    font-family: 'Inter';
    color: #494949;
    font-size: 14px;
    transition: all 0.2s;
    padding-left: 8px;
}

.right-btn-text{
    margin-left: 8px;
}

.right-btn:hover{
    background: #E6F7FF;
    color: #18ACFF;
}

