@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F4F4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-divider-inner-text::after{
  border-top: 1px solid rgba(53, 53, 53, 0.774);
}


.header-bg{
  background: #FFFFFF;
  padding-left: 8px;
  padding-right: 16px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.site-page-header{
  padding: 4px;
  
}

.profile-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
}

.profile-name{
  font-size: 26px;
  color: #666666;
  margin: 4px;
}

.data{
  width: 100%;
  padding: 16px 32px 0 32px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.data-col-wrap{
  width: 45%;
  display: flex;
  flex-direction: column;
}

.data-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.data-col{
  margin: 0 4px 0 4px;
  width: 49%;
  font-size: 15px;
  /* margin-right: 64px; */
  line-height: 24px;
  overflow-wrap: break-word;
}

.data-attr{
  color: #5c5c5c;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  margin-top: 4px;

}

.prot-shadow{
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.tablewrap{
  width: 100%;
  padding: 16px 32px 0 32px;

}

.buttons{
  height: 80px;
  width: 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 16px;
}
